/** Colors **/
$transparent:       transparent;
$dark:              #0b0909;
$light:             #ddd;
$black:             #000;
$white:             #fff;
$orange:            #ff8108;
$yellow:            #ffcc15;

$first-light-color:  #000;
$second-light-color: #fff;
$third-light-color:  #ffcc15;
$light-helper-color: #ff8108;

$first-dark-color:   #eee;
$second-dark-color:  #fff;
$third-dark-color:   #ff8108;
$dark-helper-color:  #ffcc15;

/** Sizes **/
$oversize: 3rem;
$big: 2.2rem;
$middle: 1.5rem;
$middler: 1.3rem;
$regular: 1rem;

/** Font weight **/
$weight-light:   300;
$weight-lighter: 400;
$weight-normal:  500;
$weight-middler: 600;
$weight-bolder: 700;
$weight-bold: bold;

/** Line-heights **/
$line-normal: 1;
$line-middler: 1.2;
$line-middle:  1.3;
$line-larger:  1.5;

/** Font-family **/
$main-font:      'MuseoSansCyrl', sans-serif;
$secondary-font: 'ft40', sans-serif;
$cursive: 'Qwigley';
$helper-font: 'Calama Regular';