/*** Form + Modal Form ***/
section.cf, .modal-form.cf{
    box-shadow: 0 -5px 15px -5px rgba(0,0,0,0.6);
    z-index: 70;
    position: relative; 
  
    textarea.hd{
        display: none;
    }
}

/*** Form ***/
.cf-section {
    padding: 0 0 100px 0;
    background-attachment: fixed;
  
    @include bg--auto($transparent, none, cover, no-repeat, overlay);
  
    &__header {
      margin-bottom: 15px;
      
      @include mq('extra-tablet', min) {
        margin-bottom: 47px;
      }
      
      &__title {
        &,
        * {
          @include editor--headers;
          @include mq('extra-tablet', min) {
            &,
            .color_el,
            .el_color,
            .size_el,
            .el_size {
              font-size: $big;
              font-weight: bold;
              line-height: 58px;
            }
          }
        
          &.title {
            &:before {
              display: none; 
            }
          }
        }
      }
    }
  
    form{
        padding-top: 25px;
        &.was-validated{
            .form-element-validation:valid{
                box-shadow: 0 0 5px $helper-color;
                border-color: $white;
            }
            .form-element-validation:invalid{
                border-color: $helper-color;
                box-shadow: 0 0 5px $helper-color;
            }
            input:invalid, textarea:invalid, .form-control:invalid~.invalid-feedback{
                .valid-warning-feedback, .valid-feedback{
                    display: none;
                }
                .invalid-feedback{
                    display: block;
                }
            }
            input:required:valid, textarea:required:valid, .form-control:required:valid~.valid-feedback{
                .valid-warning-feedback, .invalid-feedback{
                    display: none;
                }
                .valid-feedback{
                    display: block;
                }
            }
            .validation-group:not( .validated-valid ){
                 input:optional:valid~.valid-feedback, textarea:optional:valid~.valid-feedback, .form-control:optional:valid~.valid-feedback, input:optional:valid~.invalid-feedback, textarea:optional:valid~.invalid-feedback, .form-control:optional:valid~.invalid-feedback{
                    display: none;
                }   
                input:optional:valid~.valid-warning-feedback, textarea:optional:valid~.valid-warning-feedback, .form-control:optional:valid~.valid-warning-feedback, input:optional:valid~.valid-warning-feedback, textarea:optional:valid~.valid-warning-feedback, .form-control:optional:valid~.valid-warning-feedback{
                    display: block;
                }
            }
        }
        
        .validated-invalid .invalid-feedback{
            display: block;
        }
        .validated-valid .valid-feedback{
            display: block;
        }
        .validated-warning .valid-warning-feedback{
            display: block;
        }
        .validated-warning .valid-feedback{
            display: none;
        }
    }
    .form-group{
        margin-bottom: 1.1rem;
        .form-help{
            font-size: 0.7rem;
            margin-top: 5px;
            margin-left: 20px;
        }
        .valid-helper{
            padding-left: 20px;
            width: 100%;
            margin-top: .25rem;
            font-size: 80%;
            display: none;
            &.valid-feedback{
                color: $helper-color;
            }
            &.valid-warning-feedback{
                color: $white;
            }
            &.invalid-feedback{
                color: $helper-color;
            }
        }
    }
    input[type=text], input[type=tel], input[type=email], textarea, .input-group .form-control{
        &, .input-group &{
            &, &:not( :first-child ), &:not( :last-child ){
                background: 0 0;
                border-color: $helper-color;
                border-width: 3px;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
                border-bottom-right-radius: 20px;
                border-bottom-left-radius: 20px;
                border-radius: 20px;
                font-style: italic;
                padding: 5px 15px;
                color: $white;
                box-shadow: 0 0 5px $white;
                &:hover, &:focus{
                    outline: none;
                    box-shadow: none;
                    border-color: $helper-color;
                    background: 0 0;
                    color: #fff;
                }   
            }   
        }
        &.element-was-validated:valid{
            box-shadow: 0 0 5px $helper-color;
            border-color: $white;
        }
        &.element-was-validated:invalid{
            border-color: $helper-color;
            box-shadow: 0 0 5px $helper-color;
        }
    }
    input[type=text], input[type=tel], input[type=email]{
        height: 42px;
    }
    input[type=submit]{
            color: $helper-color;
            text-shadow: 2px 4px 6px rgba(11,9,9,0.35);
            font-family: $main-font;
            background:  $helper-color;
            border-radius: 80px;
            font-size: $middler;
            padding: 10px 20px;
            cursor: pointer;
            margin-top: 35px;
            box-shadow: 0 0 5px  $helper-color;
            transition: .3s;
            border: 5px solid  $helper-color;
            text-transform: uppercase;
            &:hover, &:focus{
                text-decoration: none;
                border-color:  $helper-color;
                outline: none;
            }
    }
}
.modal-form.cf{
    position: fixed;
    z-index: 200;
    background-color: rgba(0,0,0,.7);
    background-image: none;
    .form-group .valid-helper{
        padding-left: 15px;
        text-align: left;
    }
    form{
        &.was-validated{
            input:invalid~.invalid-feedback, textarea:invalid~.invalid-feedback, .form-control:invalid~.invalid-feedback{
                display: block;
            }
            input:required:valid~.valid-feedback, textarea:required:valid~.valid-feedback, .form-control:required:valid~.valid-feedback{
                display: block;
            }
            input:optional:valid~.valid-warning-feedback, textarea:optional:valid~.valid-warning-feedback, .form-control:optional:valid~.valid-warning-feedback{
                display: block;
            }
        }
    }
}