.type-reviews {
  box-sizing: border-box;
  
  &>.row {
    padding: 25px 12px;
  }
  
  .post__data {
    padding: 35px;
    padding-bottom: 75px;
    min-height: 480px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid $helper-color;
    position: relative;
    
     &__title {
      margin-bottom: 20px;
      
      &,
      * {
        @include font-source-sans( $middle, $helper-color, bold, 1.5, $main-font);
      }
    }
    
    &__content {
      word-break: normal;
      
      &,
      * {
        @include editor--elements;
      }
    }
    
    &__addons {
      position: absolute;
      bottom: 50px;
      right: 35px;
      left: 35px;
      width: calc( 100% - 70px );
      height: 40px;
      
      &__img {
        img {
          height: 35px;
          width: 35px;
          object-fit: contain;
          object-position: center;
          margin-right: 15px;
          border-radius: 50px;
        }
      }
      
      &__name {
        @include font-source-sans( $middle, $white, 500, 1, $main-font);
      }
    }
  }
}
